.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.title-section{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.title-subsection1{
  height: fit-content;
  width: 700px;
}

#testimonial{
 text-align: center; 
 
}

.div2tm img{
  border-radius: 50%;
  height: 100px;
}
.div3tm{
  display: flex;
  justify-content: space-between;
}
.div3tm img{
  height: 30px;
  width: 150px;
}
#testimonial div{
  padding: 30px;
}
h1{
  font-size: 5rem;
  font-weight: bold;
}